---
BasedOnStyle: LLVM
---
# Force pointers to the type of C++.
Language: Cpp
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
UseTab: Never
