.DS_Store
*.xcuserdatad
xcuserdata
/cmake-build-debug/
/autom4te.cache/
/config/
landlord
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure.scan
coverage_report
depcomp
libtool
m4
missing
stamp-h1
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
.idea/
*.out
